<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Checkout.com</title>
        <title lang="de-DE">Checkout.com</title>
        <title lang="nl-NL">Checkout.com</title>

        <input-field>
            <name>secretKey</name>
            <label>Secret Key</label>
        </input-field>

        <input-field>
            <name>publicKey</name>
            <label>Public Key</label>
        </input-field>

        <input-field type="url">
            <name>ckoUrl</name>
            <label>Checkout.com Url</label>
            <defaultValue>https://api.checkout.com/</defaultValue>
        </input-field>

        <input-field type="url">
            <name>cloudPluginUrl</name>
            <label>Cloud Plugin Url</label>
            <defaultValue>https://shopware6.cko-qa.ckotech.co/</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>cloudEventLog</name>
            <label>Log to CloudEvent</label>
        </input-field>
    </card>
    <card>
        <title>Google Pay</title>
        <title lang="de-DE">Google Pay</title>
        <title lang="nl-NL">Google Pay</title>

        <input-field type="bool">
            <name>enableGpay</name>
            <label>Enable</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field>
            <name>gpayMerchantId</name>
            <label>Merchant Identifier</label>
            <helpText>
                Your production merchant identifier.
                
                For testing use the following value: 01234567890123456789
            </helpText>
        </input-field>

        <input-field type="single-select">
            <name>gpayButtonStyle</name>
            <options>
                <option>
                    <id>black</id>
                    <name>Black</name>
                </option>
                <option>
                    <id>white</id>
                    <name>White</name>
                </option>
            </options>
            <label>Button Style</label>
        </input-field>
    </card>
</config>