name: Unit test

on:
  push:
    branches:
      - "*/*"
      - "*"
      - "!master"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Composer install
        run: composer install

      - name: Unit Tests
        uses: php-actions/phpunit@v8
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
